.input {
    height: 50%;
    top: 50%;
    transform: translateY(35%);
    width: 110%;
}
@media(max-width:1500px){
    .input{
        transform: translateY(55%)
    }
}
@media(max-width:1200px){
    .input{
        transform: translateY(45%)
    }
}
@media(max-width:770px){
    .input {
        width: 80%;
        height: 100%;
        top: 0;
        transform: none;
    }
}
@media(max-width:600px){
    .input {
        width: 75%;
    }
}
@media(max-width:480px){
    .input {
        width: 70%;
    }
}
@media(max-width:400px){
    .input {
        width: 60%;
    }
}
@media(max-width:300px){
    .input {
        width: 50%;
    }
}
@media(max-width:240px){
    .input {
        width: 40%;
    }
}
@media(max-width:200px){
    .input {
        width: 100%;
        top: 50%;
        transform: translateY(35%);
    }
}
@media (min-width: 1498px){
    .input{
        width: 60%;
        height: 100%;
        top: 0;
        transform: none;
    }
}