.container {
    display: inline-block;
    vertical-align: top;
}
.nestedContainer {
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 2%;
}
@media (max-width:770px) {
    .nestedContainer {
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;
    }
    .hideIfMobile {
        display: none;
    }
}
