.container {
    width: 75vw;
    display: inline-block;
}
.form {
    display: inline-block;
    width: 26vw;
    background-color:rgba(245, 245, 220, 65%);
    margin-left: 2vw;
    margin-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
}
@media (max-width:770px) {
    .form{
        width: 95vw;
        margin-top: 3vw;
    }
}