.button{
    margin-left: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    color: white;
    background-color: rgb(125, 58, 124);
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: rgb(167, 103, 166);
}
.button:active {
    background-color: rgb(175, 133, 174);
}