.footer {
    background: linear-gradient(90deg, rgba(0, 71, 255, 1) 0%, rgb(125, 58, 124) 100%);
    padding-top: 6vh;
    padding-bottom: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
}
